.App {
    text-align: center;
}
.fe{
    color: black;
    padding-left: 43%;
    padding-top: 0;
    padding-bottom: 0;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.d {
    padding-top: 250px;
    padding-bottom: 50px;
    font-size: 60px;
    color: white;
}

.second {
    margin: 0;
    padding: 0;
    /*margin-left: 20px;*/
    background: #040510;
}

.featurdss {
    background-color: #040510;
    height: 400px;
    margin-top: 560px;


}

.easy {
    font-size: 70px;
    color: white;
    padding-left: 45%;

}

.appBar {
    position: fixed;
    z-index: +2;

}

.fast {
    font-size: 70px;
    color: white;
    padding-top: 5%;
    padding-left: 40%;

}

.theWorld {
    z-index: +1;
    margin: 0;
    color: white;
    font-size: 26px;
    padding-top: 135px;
}

.webTout {
    font-size: 120px;
    color: white;
    /*text-align: center;*/
    margin: 0;
    padding-top: 200px;
}

.aWebsite {
    color: #198754;
    margin: 0;
    font-size: 30px;
    /*padding-top: 70px;*/
}

.conta {
    margin: 0;
    z-index: -2;
    height: 700px;
    overflow: hidden;
    /*margin-right: 50%;*/
    background: #040510;
}

.rowText {
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;

}

.make {
    font-size: 120px;
    color: white;
    /*text-align: center;*/
    margin: 0;
    padding-top: 70px;

}

.features {
    height: 500px;
    color: white;
}

.first_text {
    /*width: 50%;*/
    margin: 0;
z-index: 70;
    height: 700px;
    overflow: hidden;
    /*margin-right: 50%;*/
    background: #040510;
}

/*.earth{*/
/*  margin-left: 50%;*/
/*  height: 200px;*/
/*  width: 200px;*/

/*}*/

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}









body{
    margin-top:20px;
    background:#eee;
}
.contact-area {
    /*background: url(../img/bg/contact-bg.png) no-repeat;*/
    background-color: whitesmoke;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

@media only screen and (max-width:768px) {
    .contact {
        margin-top: 0;
        margin-bottom: 40px;
    }
}


.contact input {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #232434;
    font-size: 16px;
    height: 60px;
    width: 100%;
    font-family: 'poppins', sans-serif;
    padding: 10px 10px 10px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.contact textarea {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #232434;
    font-size: 16px;
    width: 100%;
    font-family: 'poppins', sans-serif;
    padding: 10px 10px 10px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.contact input:focus {
    background: #fff;
    border: 1px solid #a2a2a2;
    color: #232434;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
}

.contact textarea:focus {
    background: #fff;
    border: 1px solid #fff;
    color: #232434;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
}

.form-control::placeholder {
    color: #232434;
    opacity: 1;
}

.btn-contact-bg {
    border-radius: 30px;
    color: #fff;
    outline: medium none !important;
    padding: 15px 27px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #7564e5;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    width: 100%;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #7564e5;
    color: #fff;
}

/*START ADDRESS*/

.single_address {
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 40px;
}

@media only screen and (max-width:768px) {
    .single_address {
        padding-left: 0;
    }
}

.single_address i {
    background: #f6f6f6;
    color: #7564e5;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    margin-right: 14px;
    font-size: 22px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single_address:hover i {
    background: #7564e5;
    color: #fff;
}

.single_address h4 {
    font-size: 18px;
    margin-bottom: 0px;
    overflow: hidden;
    font-weight: 600;
}

.single_address p {
    overflow: hidden;
    margin-top: 5px;
}

.section-title h1 {
    font-size: 44px;
    font-weight: 500;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.section-title p {
    padding: 0 10px;
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
}
.section-title {
    margin-bottom: 60px;
}
.text-center {
    text-align: center!important;
}
